.btn-theme{
    background: $yellow;
    color: $blue_dark;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: darken($yellow, 8%) !important;
        color: lighten($blue_dark, 8%);
        transition: all 0.3s ease-in-out;
    }
}

.dark {
    .btn-theme{
        background: $blue_dark;
        color: $yellow;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        &:hover{
            background: darken($blue_dark, 8%);
            transition: all 0.3s ease-in-out;
        }
    }
}